<html>

<head>
  <title>Protected</title>
</head>

<body>
  <p>Logged in as {{username}} </p>
  <p>
  <form method="post" action="/logout">
    <button type="submit">logout</button>
  </form>

  </p>
</body>

</html>